cpoint
.vscode/
*.exe
out.c
*.ll
*.bc
test
out.s
test-llvm.c
test-llvm*.c
out
out.o
out.ll.*
*.o
log.txt
*.log
test-llvm
*.a
test
a.out
*.wasm
test_io.txt
*.temp
bdwgc_prefix
cpoint-build
valgrind-out.txt