[submodule "bdwgc"]
	path = bdwgc
	url = https://github.com/ivmai/bdwgc
[submodule "tools/vscode"]
	path = tools/vscode
	url = https://github.com/Vinz2008/cpoint-vscode.git
[submodule "tools/vim"]
	path = tools/vim
	url = https://github.com/Vinz2008/cpoint-vim
